<div ui-view="" class="wrap-content container fade-in-up">
    <!-- uiView:  -->
    <div ui-view="" class="fade-in-up ng-scope">
        <!-- start: PAGE TITLE -->
        <section id="page-title" class="ng-scope">
            <div class="row">
                <div class="col-sm-8">
                    <h1 class="mainTitle ng-scope" translate="sidebar.nav.forms.WIZARD">Form Wizard</h1>
                    <span class="mainDescription">Using simple Angular.js guidelines you can turn a form into a multi-step form wizard</span>
                </div>
                <ol class="breadcrumb ng-isolate-scope" ncy-breadcrumb="">
                    <!-- ngRepeat: step in steps -->
                    <li ng-repeat="step in steps" ng-class="{active: $last}" ng-switch="$last || !!step.abstract" class="ng-scope">
                        <!-- ngSwitchWhen: false --><a ng-switch-when="false" href="#/app/form" class="ng-binding ng-scope">Forms</a>
                        <!-- end ngSwitchWhen: -->
                        <!-- ngSwitchWhen: true -->
                    </li>
                    <!-- end ngRepeat: step in steps -->
                    <li ng-repeat="step in steps" ng-class="{active: $last}" ng-switch="$last || !!step.abstract" class="ng-scope active">
                        <!-- ngSwitchWhen: false -->
                        <!-- ngSwitchWhen: true --><span ng-switch-when="true" class="ng-binding ng-scope">Wizard</span>
                        <!-- end ngSwitchWhen: -->
                    </li>
                    <!-- end ngRepeat: step in steps -->
                </ol>
            </div>
        </section>
        <!-- end: PAGE TITLE -->
        <!-- start: WIZARD DEMO -->
        <div class="container-fluid container-fullw bg-white ng-scope">
            <div class="row">
                <div class="col-md-12">
                    <h5 class="over-title margin-bottom-15">Wizard <span class="text-bold">demo</span></h5>
                    <p>
                        Some textboxes in this example is required.
                    </p>
                    <!-- /// controller:  'WizardCtrl' -  localtion: assets/js/controllers/wizardCtrl.js /// -->
                    <div ng-controller="WizardCtrl" class="ng-scope">
                        <!-- start: WIZARD FORM -->
                        <form name="Form" id="form" novalidate="" class="ng-pristine ng-invalid ng-invalid-required ng-valid-email ng-valid-compare-to ng-submitted" style="">
                            <div id="wizard" class="swMain">
                                <!-- start: WIZARD SEPS -->
                                <ul>
                                    <li ng-click="form.goTo(Form, 1)">
                                        <a href="" ng-class="{'selected' : currentStep >= 1, 'done' : currentStep > 1}" class="selected">
                                            <div class="stepNumber">
                                                1
                                            </div>
                                            <span class="stepDesc text-small"> Personal Information </span>
                                        </a>
                                    </li>
                                    <li ng-click="form.goTo(Form, 2)">
                                        <a href="" ng-class="{'selected' : currentStep >= 2, 'done' : currentStep > 2}">
                                            <div class="stepNumber">
                                                2
                                            </div>
                                            <span class="stepDesc text-small"> Create an account </span>
                                        </a>
                                    </li>
                                    <li ng-click="form.goTo(Form, 3)">
                                        <a href="" ng-class="{'selected' : currentStep >= 3, 'done' : currentStep > 3}">
                                            <div class="stepNumber">
                                                3
                                            </div>
                                            <span class="stepDesc text-small"> Billing details </span>
                                        </a>
                                    </li>
                                    <li ng-click="form.goTo(Form, 4)">
                                        <a href="" ng-class="{'selected' : currentStep >= 4, 'done' : currentStep > 4}">
                                            <div class="stepNumber">
                                                4
                                            </div>
                                            <span class="stepDesc text-small"> Complete </span>
                                        </a>
                                    </li>
                                </ul>
                                <!-- end: WIZARD SEPS -->
                                <!-- start: WIZARD STEP 1 -->
                                <div id="step-1" ng-show="currentStep == 1" class="">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="padding-30">
                                                <h2 class="StepTitle"><i class="ti-face-smile fa-2x text-primary block margin-bottom-10"></i> Enter your personal information</h2>
                                                <p>
                                                    This is an added measure against fraud and to help with billing issues.
                                                </p>
                                                <p class="text-small">
                                                    Enter security questions in case you lose access to your account.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <fieldset>
                                                <legend>
                                                    Personal Information
                                                </legend>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group has-error" ng-class="{'has-error':Form.firstName.$dirty &amp;&amp; Form.firstName.$invalid, 'has-success':Form.firstName.$valid}" style="">
                                                            <label>
                                                                First Name <span class="symbol required"></span>
                                                            </label>
                                                            <input type="text" placeholder="Enter your First Name" class="form-control ng-pristine ng-invalid ng-invalid-required ng-touched" name="firstName" ng-model="uiObj.firstName" ng-required="currentStep == 1" required="required" style="">
                                                            <!-- ngIf: Form.firstName.$dirty && Form.firstName.$invalid --><span class="error text-small block ng-scope" ng-if="Form.firstName.$dirty &amp;&amp; Form.firstName.$invalid" style="">First Name is required</span>
                                                            <!-- end ngIf: Form.firstName.$dirty && Form.firstName.$invalid -->
                                                            <!-- ngIf: Form.firstName.$valid -->
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group has-error" ng-class="{'has-error':Form.lastName.$dirty &amp;&amp; Form.lastName.$invalid, 'has-success':Form.lastName.$valid}" style="">
                                                            <label class="control-label">
                                                                Last Name <span class="symbol required"></span>
                                                            </label>
                                                            <input type="text" placeholder="Enter your Last Name" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" name="lastName" ng-model="myModel.lastName" ng-required="currentStep == 1" required="required">
                                                            <!-- ngIf: Form.lastName.$dirty && Form.lastName.$invalid --><span class="error text-small block ng-scope" ng-if="Form.lastName.$dirty &amp;&amp; Form.lastName.$invalid" style="">Last Name is required</span>
                                                            <!-- end ngIf: Form.lastName.$dirty && Form.lastName.$invalid -->
                                                            <!-- ngIf: Form.lastName.$valid -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="block">
                                                                Gender
                                                            </label>
                                                            <div class="clip-radio radio-primary">
                                                                <input type="radio" id="wz-female" name="gender" value="female" ng-model="myModel.gender" class="ng-pristine ng-untouched ng-valid">
                                                                <label for="wz-female">
                                                                    Female
                                                                </label>
                                                                <input type="radio" id="wz-male" name="gender" value="male" ng-model="myModel.gender" class="ng-pristine ng-untouched ng-valid">
                                                                <label for="wz-male">
                                                                    Male
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>
                                                                Choose your country or region
                                                            </label>
                                                            <select class="form-control ng-pristine ng-untouched ng-valid" name="country" ng-model="myModel.country">
                                                                <option value="">&nbsp;</option>
                                                                <option value="AL">Alabama</option>
                                                                <option value="AK">Alaska</option>
                                                                <option value="AZ">Arizona</option>
                                                                <option value="AR">Arkansas</option>
                                                                <option value="CA">California</option>
                                                                <option value="CO">Colorado</option>
                                                                <option value="CT">Connecticut</option>
                                                                <option value="DE">Delaware</option>
                                                                <option value="FL">Florida</option>
                                                                <option value="GA">Georgia</option>
                                                                <option value="HI">Hawaii</option>
                                                                <option value="ID">Idaho</option>
                                                                <option value="IL">Illinois</option>
                                                                <option value="IN">Indiana</option>
                                                                <option value="IA">Iowa</option>
                                                                <option value="KS">Kansas</option>
                                                                <option value="KY">Kentucky</option>
                                                                <option value="LA">Louisiana</option>
                                                                <option value="ME">Maine</option>
                                                                <option value="MD">Maryland</option>
                                                                <option value="MA">Massachusetts</option>
                                                                <option value="MI">Michigan</option>
                                                                <option value="MN">Minnesota</option>
                                                                <option value="MS">Mississippi</option>
                                                                <option value="MO">Missouri</option>
                                                                <option value="MT">Montana</option>
                                                                <option value="NE">Nebraska</option>
                                                                <option value="NV">Nevada</option>
                                                                <option value="NH">New Hampshire</option>
                                                                <option value="NJ">New Jersey</option>
                                                                <option value="NM">New Mexico</option>
                                                                <option value="NY">New York</option>
                                                                <option value="NC">North Carolina</option>
                                                                <option value="ND">North Dakota</option>
                                                                <option value="OH">Ohio</option>
                                                                <option value="OK">Oklahoma</option>
                                                                <option value="OR">Oregon</option>
                                                                <option value="PA">Pennsylvania</option>
                                                                <option value="RI">Rhode Island</option>
                                                                <option value="SC">South Carolina</option>
                                                                <option value="SD">South Dakota</option>
                                                                <option value="TN">Tennessee</option>
                                                                <option value="TX">Texas</option>
                                                                <option value="UT">Utah</option>
                                                                <option value="VT">Vermont</option>
                                                                <option value="VA">Virginia</option>
                                                                <option value="WA">Washington</option>
                                                                <option value="WV">West Virginia</option>
                                                                <option value="WI">Wisconsin</option>
                                                                <option value="WY">Wyoming</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <p>
                                                    <a href="" popover="Your personal information is not required for unlawful purposes, but only in order to proceed in this tutorial" popover-placement="top" popover-title="Don't worry!">
                                                Why do you need my personal information?
                                            </a>
                                                </p>
                                            </fieldset>
                                            <fieldset>
                                                <legend>
                                                    Security question
                                                </legend>
                                                <p>
                                                    Enter security questions in case you lose access to your account. <span class="text-small block">Be sure to pick questions that you will remember the answers to.</span>
                                                </p>
                                                <!--  <accordion close-others="oneAtATime" class="accordion">
                                                    <div class="panel-group" ng-transclude="">
                                                        <div class="panel panel-default ng-isolate-scope" ng-class="{'panel-open': isOpen}" is-open="question1.open">
                                                            <div class="panel-heading">
                                                                <h4 class="panel-title">
      <a href="" tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" accordion-transclude="heading"><span ng-class="{'text-muted': isDisabled}" class="ng-binding"><span class="ng-scope">
                                                    What was the name of your first stuffed animal? </span><i class="pull-right ng-scope ti-angle-right" ng-class="{'ti-angle-down': question1.open, 'ti-angle-right': !question1.open}"></i>
                                                </span></a>
    </h4>
                                                            </div>
                                                            <div class="panel-collapse collapse" collapse="!isOpen" aria-expanded="false" aria-hidden="true" style="height: 0px;">
                                                                <div class="panel-body" ng-transclude="">
                                                                    <accordion-heading class="ng-scope"></accordion-heading>
                                                                    <div class="form-group ng-scope">
                                                                        <input type="text" class="form-control ng-pristine ng-untouched ng-valid" name="stuffedAnimal" ng-model="myModel.stuffedAnimal" placeholder="Enter the the name of your first stuffed animal">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="panel panel-default ng-isolate-scope" ng-class="{'panel-open': isOpen}" is-open="question2.open">
                                                            <div class="panel-heading">
                                                                <h4 class="panel-title">
      <a href="" tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" accordion-transclude="heading"><span ng-class="{'text-muted': isDisabled}" class="ng-binding"><span class="ng-scope">
                                                    What is your grandfather's first name? </span><i class="pull-right ng-scope ti-angle-right" ng-class="{'ti-angle-down': question2.open, 'ti-angle-right': !question2.open}"></i>
                                                </span></a>
    </h4>
                                                            </div>
                                                            <div class="panel-collapse collapse" collapse="!isOpen" aria-expanded="false" aria-hidden="true" style="height: 0px;">
                                                                <div class="panel-body" ng-transclude="">
                                                                    <accordion-heading class="ng-scope"></accordion-heading>
                                                                    <div class="form-group ng-scope">
                                                                        <input type="text" class="form-control ng-pristine ng-untouched ng-valid" name="grandfatherName" ng-model="myModel.grandfatherName" placeholder="Enter your grandfather's first name">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="panel panel-default ng-isolate-scope" ng-class="{'panel-open': isOpen}" is-open="question3.open">
                                                            <div class="panel-heading">
                                                                <h4 class="panel-title">
      <a href="" tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" accordion-transclude="heading"><span ng-class="{'text-muted': isDisabled}" class="ng-binding"><span class="ng-scope">
                                                    In what city your grandmother live? </span><i class="pull-right ng-scope ti-angle-right" ng-class="{'ti-angle-down': question3.open, 'ti-angle-right': !question3.open}"></i>
                                                </span></a>
    </h4>
                                                            </div>
                                                            <div class="panel-collapse collapse" collapse="!isOpen" aria-expanded="false" aria-hidden="true" style="height: 0px;">
                                                                <div class="panel-body" ng-transclude="">
                                                                    <accordion-heading class="ng-scope"></accordion-heading>
                                                                    <div class="form-group ng-scope">
                                                                        <input type="text" class="form-control ng-pristine ng-untouched ng-valid" name="grandmotherCity" ng-model="myModel.grandmotherCity" placeholder="Enter your grandfather's first name">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </accordion> -->
                                            </fieldset>
                                            <div class="form-group">
                                                <button class="btn btn-primary btn-o next-step btn-wide pull-right" ng-click="next();">
                                                    Next <i class="fa fa-arrow-circle-right"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end: WIZARD STEP 1 -->
                                <!-- start: WIZARD STEP 2 -->
                                <div id="step-2" ng-show="currentStep == 2" class="ng-hide">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="padding-30">
                                                <h2 class="StepTitle">Create an account <span class="text-large block">to manage everything you do with ng-Clip</span></h2>
                                                <p>
                                                    You’ll enjoy personal services and great benefits including:
                                                </p>
                                                <p class="text-small">
                                                </p>
                                                <ul class="no-margin">
                                                    <li>
                                                        Access to exclusive releases and limited products.
                                                    </li>
                                                    <li>
                                                        ng-Clip services, benefits and promotions.
                                                    </li>
                                                </ul>
                                                <p></p>
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <fieldset>
                                                <legend>
                                                    Account Credential
                                                </legend>
                                                <div class="form-group has-success" ng-class="{'has-error':Form.email.$dirty &amp;&amp; Form.email.$invalid, 'has-success':Form.email.$valid}">
                                                    <label class="control-label">
                                                        Email <span class="symbol required"></span>
                                                    </label>
                                                    <input type="email" placeholder="Enter a valid E-mail" class="form-control ng-pristine ng-untouched ng-valid-email ng-valid ng-valid-required" name="email" ng-model="myModel.email" ng-required="currentStep == 2">
                                                    <!-- ngIf: Form.email.$dirty && Form.email.$error.required -->
                                                    <!-- ngIf: Form.email.$error.email -->
                                                    <!-- ngIf: Form.email.$valid --><span class="success text-small ng-scope" ng-if="Form.email.$valid">It's a valid e-mail!</span>
                                                    <!-- end ngIf: Form.email.$valid -->
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group has-success" ng-class="{'has-error':Form.password.$dirty &amp;&amp; Form.password.$invalid, 'has-success':Form.password.$valid}">
                                                            <label class="control-label">
                                                                Password <span class="symbol required"></span>
                                                            </label>
                                                            <input type="password" placeholder="Enter a Password" class="form-control ng-pristine ng-untouched ng-valid ng-valid-required" name="password" ng-model="myModel.password" ng-required="currentStep == 2">
                                                            <!-- ngIf: Form.password.$dirty && Form.password.$error.required -->
                                                            <!-- ngIf: Form.password.$valid --><span class="success text-small block ng-scope" ng-if="Form.password.$valid">Ok!</span>
                                                            <!-- end ngIf: Form.password.$valid -->
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group has-success" ng-class="{'has-error':Form.password2.$dirty &amp;&amp; Form.password2.$error.compareTo || Form.password2.$dirty &amp;&amp; Form.password2.$invalid, 'has-success':Form.password2.$valid}">
                                                            <label class="control-label">
                                                                Repeat Password <span class="symbol required"></span>
                                                            </label>
                                                            <input type="password" placeholder="Repeat Password" class="form-control ng-pristine ng-untouched ng-isolate-scope ng-valid-compare-to ng-valid ng-valid-required" name="password2" ng-model="myModel.password2" compare-to="myModel.password" ng-required="currentStep == 2">
                                                            <!-- ngIf: Form.password2.$dirty && Form.password2.$error.required -->
                                                            <!-- ngIf: Form.password2.$dirty && Form.password2.$error.compareTo -->
                                                            <!-- ngIf: Form.password2.$valid --><span class="success text-small block ng-scope" ng-if="Form.password2.$valid">Passwords match!</span>
                                                            <!-- end ngIf: Form.password2.$valid -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <div class="form-group">
                                                <button class="btn btn-primary btn-o back-step btn-wide pull-left" ng-click="prev()">
                                                    <i class="fa fa-circle-arrow-left"></i> Back
                                                </button>
                                                <button class="btn btn-primary btn-o next-step btn-wide pull-right" ng-click="next()">
                                                    Next <i class="fa fa-arrow-circle-right"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end: WIZARD STEP 2 -->
                                <!-- start: WIZARD STEP 3 -->
                                <div id="step-3" ng-show="currentStep == 3" class="ng-hide">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="padding-30">
                                                <h2 class="StepTitle">Enter billing details</h2>
                                                <p class="text-large">
                                                    You will need to enter your billing address and select your payment method.
                                                </p>
                                                <p class="text-small">
                                                    You can use most major credit card, as well as PayPal.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <fieldset>
                                                <legend>
                                                    Payment Method
                                                </legend>
                                                <label>
                                                    Payment type
                                                </label>
                                                <div class="form-group">
                                                    <div class="btn-group">
                                                        <label class="btn btn-primary btn-sm ng-pristine ng-untouched ng-valid" ng-model="myModel.paymentMethod" btn-radio="'creditcard'">
                                                            <i class="fa fa-cc-visa"></i> <i class="fa fa-cc-mastercard"></i> Credit Card
                                                        </label>
                                                        <label class="btn btn-primary btn-sm ng-pristine ng-untouched ng-valid" ng-model="myModel.paymentMethod" btn-radio="'paypal'">
                                                            <i class="fa fa-cc-paypal"></i> PayPal
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Card Number
                                                    </label>
                                                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid" name="cardNumber" ng-model="myModel.cardNumber" placeholder="Enter Your Card Number">
                                                </div>
                                                <label>
                                                    Expires
                                                </label>
                                                <div class="row">
                                                    <div class="col-md-4 col-sm-6">
                                                        <div class="form-group">
                                                            <div class="cs-select cs-skin-slide ng-pristine ng-untouched ng-valid" tabindex="0"><span class="cs-placeholder">Month</span>
                                                                <div class="cs-options">
                                                                    <ul>
                                                                        <li data-option="" data-value="January"><span>January</span></li>
                                                                        <li data-option="" data-value="February"><span>February</span></li>
                                                                        <li data-option="" data-value="March"><span>March</span></li>
                                                                        <li data-option="" data-value="April"><span>April</span></li>
                                                                        <li data-option="" data-value="May"><span>May</span></li>
                                                                        <li data-option="" data-value="June"><span>June</span></li>
                                                                        <li data-option="" data-value="July"><span>July</span></li>
                                                                        <li data-option="" data-value="August"><span>August</span></li>
                                                                        <li data-option="" data-value="September"><span>September</span></li>
                                                                        <li data-option="" data-value="October"><span>October</span></li>
                                                                        <li data-option="" data-value="November"><span>November</span></li>
                                                                        <li data-option="" data-value="December"><span>December</span></li>
                                                                    </ul>
                                                                </div>
                                                                <select class="cs-select cs-skin-slide ng-pristine ng-untouched ng-valid" ng-model="myModel.expiresMonth">
                                                                    <option value="" disabled="">Month</option>
                                                                    <option value="January">January</option>
                                                                    <option value="February">February</option>
                                                                    <option value="March">March</option>
                                                                    <option value="April">April</option>
                                                                    <option value="May">May</option>
                                                                    <option value="June">June</option>
                                                                    <option value="July">July</option>
                                                                    <option value="August">August</option>
                                                                    <option value="September">September</option>
                                                                    <option value="October">October</option>
                                                                    <option value="November">November</option>
                                                                    <option value="December">December</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-6">
                                                        <div class="form-group">
                                                            <div class="cs-select cs-skin-slide ng-pristine ng-untouched ng-valid" tabindex="0"><span class="cs-placeholder">Year</span>
                                                                <div class="cs-options">
                                                                    <ul>
                                                                        <li data-option="" data-value="2015"><span>2015</span></li>
                                                                        <li data-option="" data-value="2016"><span>2016</span></li>
                                                                        <li data-option="" data-value="2017"><span>2017</span></li>
                                                                        <li data-option="" data-value="2018"><span>2018</span></li>
                                                                        <li data-option="" data-value="2019"><span>2019</span></li>
                                                                        <li data-option="" data-value="2020"><span>2020</span></li>
                                                                    </ul>
                                                                </div>
                                                                <select class="cs-select cs-skin-slide ng-pristine ng-untouched ng-valid" ng-model="myModel.expiresYear">
                                                                    <option value="" disabled="">Year</option>
                                                                    <option value="2015">2015</option>
                                                                    <option value="2016">2016</option>
                                                                    <option value="2017">2017</option>
                                                                    <option value="2018">2018</option>
                                                                    <option value="2019">2019</option>
                                                                    <option value="2020">2020</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <label>
                                                            Security code
                                                        </label>
                                                        <div class="row">
                                                            <div class="col-xs-3">
                                                                <div class="form-group">
                                                                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid" name="securityCode" placeholder="Security code" ng-model="myModel.securityCode">
                                                                </div>
                                                            </div>
                                                            <span class="help-inline col-xs-4"> <a href="" popover="The security code is a three-digit number on the back of your credit card, immediately following your main card number." popover-placement="top" popover-title="How to find the security code"><i class="ti-help-alt text-large text-primary"></i></a> </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <div class="form-group">
                                                <button class="btn btn-primary btn-o back-step btn-wide pull-left" ng-click="prev()">
                                                    <i class="fa fa-circle-arrow-left"></i> Back
                                                </button>
                                                <button class="btn btn-primary btn-o next-step btn-wide pull-right" ng-click="next()">
                                                    Next <i class="fa fa-arrow-circle-right"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end: WIZARD STEP 3 -->
                                <!-- start: WIZARD STEP 4 -->
                                <div id="step-4" ng-show="currentStep == 4" class="ng-hide">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="text-center">
                                                <h1 class=" ti-check block text-primary"></h1>
                                                <h2 class="StepTitle">Congratulations!</h2>
                                                <p class="text-large">
                                                    Your tutorial is complete.
                                                </p>
                                                <p class="text-small">
                                                    Thank you for your registration. Your transaction has been completed, and a receipt for your purchase has been emailed to you. You may log into your account to view details of this transaction.
                                                </p>
                                                <a class="btn btn-primary btn-o" href="" ng-click="goToFirst()">
                                            Back to first step
                                        </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end: WIZARD STEP 4 -->
                            </div>
                            <pre class="code margin-top-20 ng-binding"></pre>
                        </form>
                        <!-- end: WIZARD FORM -->
                    </div>
                </div>
            </div>
        </div>
        <!-- start: WIZARD DEMO -->
    </div>
</div>
